.Top-menu
  .Title
    なんでもランキング
  .Head-items
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Head-items__logout-btn'
    = link_to edit_user_path(current_user), class: "Head-items__edit-btn" do
      ユーザー編集