.Top-menu
  .Title
    なんでもランキング
  .Head-items
    -if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Head-items__logout-btn'
      = link_to "ユーザー編集", edit_user_path(current_user), class: "Head-items__edit-btn"
    - else
      = link_to "ログイン", new_user_session_path, class: 'Head-items__logout-btn'
      = link_to "新規会員登録", new_user_registration_path, class: 'Head-items__logout-btn'
