.Like-ranking
  %ul.Like-item
    .Like-item__title
      いいねランキング
    - @ranking_likes.first(10).each_with_index do |rank,i|
      %li
        = link_to ranking_path(rank.id) do
          %span #{i + 1}位：
          %span= rank.title
