* {
  box-sizing: border-box;
}

// ------------------ヘッダー-----------------
.Top-menu{
    height: 60px;
    background-color: #cccccc;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  .Title{
    font-size: 40px;
  }
  .Head-items{
    &__logout-btn{
      padding: 10px 5px;
      border: 1px solid #111111;
      margin: 0 20px;
      color: black;
      background-color: white;
      border-radius: 10px;
    }
    &__edit-btn{
      padding: 10px 5px;
      color: black;
      border: 1px solid #111111;
      background-color: white;
      border-radius: 10px;
    }
  }
}
// ------------------body-----------------
.body{
  display: flex;
  background-image: image-url("cracker.png");
  background-color:rgba(255,255,255,0.85);
  background-blend-mode:lighten;
}

// ------------------いいねランキング-----------------
.Like-ranking{
  height: calc(100vh - 60px);
  width: 300px;
  padding: 10px;
  .Like-item{
    &__title{
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid lightgrey;
    }
  }
}

// ------------------メインコンテンツ-----------------

.Main-contents{
  height: calc(100vh - 60px);
  width: 600px;
  padding: 10px 50px;
  background-color: white;
  .Ranking{
    height: 220px;
    width: 500px;
    background-size: 500px 220px;
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    padding: 24px;
    margin-bottom: 20px;
    &__title{
      font-size: 24px;
      border-bottom: 1px solid #11bbbb;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }
    .Ranking__first{
      font-size: 22px;
      margin-bottom: 10px;
      .First{
        color: gold;
        text-shadow: 
        black 1px 1px 0, black -1px -1px 0,/*右下、左上*/
        black -1px 1px 0, black 1px -1px 0,/*右上、左下*/
        black 0px 1px 0, black  0-1px 0,/*右、左*/
        black -1px 0 0, black 1px 0 0;/*上、下*/
      }
    }
    .Ranking__second{
      font-size: 18px;
      margin-bottom: 10px;
      .Second{
        color: silver;
        text-shadow: 
        black 1px 1px 0, black -1px -1px 0,/*右下、左上*/
        black -1px 1px 0, black 1px -1px 0,/*右上、左下*/
        black 0px 1px 0, black  0-1px 0,/*右、左*/
        black -1px 0 0, black 1px 0 0;/*上、下*/
      }
    }
    .Ranking__third{
      font-size: 18px;
      margin-bottom: 10px;
      .Third{
        color: burlywood;
        text-shadow: 
        black 1px 1px 0, black -1px -1px 0,/*右下、左上*/
        black -1px 1px 0, black 1px -1px 0,/*右上、左下*/
        black 0px 1px 0, black  0-1px 0,/*右、左*/
        black -1px 0 0, black 1px 0 0;/*上、下*/
      }
    }
    .Ranking__footer{
      display: flex;
      align-items: center;
      float: right;
      .Ranking-name{
        font-size: 14px;
        border: 5px;
        margin-right: 5px;
        color: black;
        padding: 0 5px;
        border: 1px solid #111111;
        background-color: white;
        border-radius: 10px;
      }
      .Edit-btn{
        margin: 0 5px;
        color: black;
        padding: 0 5px;
        border: 1px solid #111111;
        background-color: white;
        border-radius: 10px;
      }
      .Delete-btn{
        color: black;
        padding: 0 5px;
        border: 1px solid #111111;
        background-color: white;
        border-radius: 10px;
      }
      .Like{
        padding: 0 5px;
        border: 1px solid #111111;
        background-color: white;
        border-radius: 10px;
      }
    }
  }
}

// ------------------メニュー-----------------

.Right-menu{
  padding: 20px;
  .Right-items{
    &__ranking-btn{
      padding: 10px 5px;
      color: black;
      background-color: white;
      border: 1px solid #111111;
      margin-right: 20px;
      border-radius: 10px;
    }
    &__searchBox{
      margin-top: 20px;
    }
  }
}

// ----------------その他---------------------
.field_with_errors {
  display: contents;
}

a {
  text-decoration: none;
}

.no{
  color: gold;
}

.yes{
  color: black;
}

span{
  color: black;
}