.AccountPage{
  &__title{
    height: 60px;
    background-color: #cccccc;
    padding: 0 40px;
    align-items: center;
    .Title{
      font-size: 40px;
    }
  }
  &__form{
    height: calc(100vh - 60px);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-image: image-url("cracker.png");
    background-color:rgba(255,255,255,0.85);
    background-blend-mode:lighten;
    .FormField{
      justify-content: center;
      &__item{
        justify-content: center;
        font-weight: bold;
        font-size: 15px;
        &__name{
          margin-top: 20px;
          font-size: 18px;
        }
        &__box{
          margin:20px 10px 10px 10px;
          width:400px;
          height:50px;
        }
      }
    }
    .Send-btn{
      margin-top: 20px;
      padding: 10px 10px;
      border: 1px solid #111111;
      background-color: white;
      border-radius: 10px;
    }
    .Return-btn{
      margin-top: 20px;
      margin-left: 20px;
      padding: 10px 10px;
      border: 1px solid #111111;
      background-color: white;
      border-radius: 10px;
      color: black;
    }
  }
}